aniso8601==1.1.0
Flask==0.10.1
Flask-RESTful==0.3.5
gevent==1.1.1
greenlet==0.4.9
itsdangerous==0.24
Jinja2==2.8
kazoo==2.2.1
MarkupSafe==0.23
pdfminer==20140328
py==1.4.30
pykafka==2.4.0
pytest==2.8.2
python-dateutil==2.5.3
pytz==2016.4
requests==2.9.1
six==1.10.0
slate==0.4.1
tabulate==0.7.5
Werkzeug==0.10.4
